#draw-area {
	position: relative;
	float: left;
	width: 890px;
	height: 630px;
	margin: 15px;
	padding: 0;
}

canvas {
	position: absolute;
}

#background-layer {
	background-color: white;
	border: 1px solid black;
	border-radius: 4px;
}

#function-panel {
	position: relative;
	float: right;
	background-color: white;
	font-size: 14px;
	width: 560px;
	height: 630px;
	margin: 15px;
	padding: 15px;
	border-radius: 4px;
	word-break: break-all;
}

#function-panel > h2 {
	margin: 0 auto;
	padding: 3px;
	text-align: center;
}

#toolbar {
	width: auto;
	height: 100px;
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	border: 1px solid black;
	border-radius: 2px;
	color: black;
}

#formula-editor {
	width: auto;
	height: 460px;
	overflow-y: auto;
	margin: 0;
	padding: 0;
	border: 1px solid black;
	border-radius: 2px;
	color: black;
}

#formula-editor > h3, #toolbar > h3 {
	margin: 0;
	padding: 2px;
	text-align: center;
}

#formulas {
	width: auto;
	height: auto;
}

#formulas > .a-formula {
	padding: 3px;
	height: 180px;
	width: auto;
}

#toolbar > p, #axis-range > p {
	height: 30px;
}

#formulas > .a-formula, #formula-editor > .x-range > p,
#formula-editor > #axis-range > p, #toolbar > p {
	font-size: 15px;
	position: relative;
	float: left;
	line-height: 100%;
	text-align: center;
	margin: 0;
	margin-left: 5px;
	padding: 5px 0;
}

#formulas > .a-formula > .btn:hover,
#formula-editor > .btn:hover, #pen:hover, #eraser:hover {
	background-color: #e74c3c;
	color: white;
	transition: all .3s ease;
}

#toolbar > p > .btn, #formulas > .a-formula > .btn,
#formula-editor > .btn {
	display: inline-block;
	position: relative;
	margin: auto 3px;
	padding: 5px;
	font-size: 14px;
	width: auto;
	font-weight: normal;
	line-height: 1.2;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
	user-select: none;
	color: white !important;
	background-color: #3d4450;
	border-color: #3d4450;
	transition: all .3s ease;
}

#formula-editor > .btn {
	float: none;
	padding: 3px;
	margin: 3px 0;
}

#formula-editor > #range {
	margin: 5px 0;
	padding: 0;
	height: 30px;
}

.content {
	border: 1px solid black;
	border-radius: 2px;
	float: left;
}

.editor {
    width: 400px;
    height: 50px;
    padding: 0;
    white-space: normal;
    word-break: break-all;
}

.extern-formula-editor {
	width: 520px;
	height: 150px;
	border: 1px solid black;
	border-radius: 3px;
}
