html {
	/* px means "pixels", basic font size is 10 pixels */
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
}

header {
	font-size: 40px;
	text-align: center;
}

footer {
	text-align: left;
	font-size: 10px;
}

h1 {
	font-size: 60px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
}

p, li {
	font-size: 16px;
	/* a parameter can be followed by line-height, if it's a number,
	 * it means the final size of font is the current size multiply
	 * with the number
	 */
	line-height: 2;
	letter-spacing: 1px;
}

body {
	background-image: url(../images/16_bg_noise_scale.jpg);
	background-position: left, top;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: auto;
	margin: 0 auto;
	padding: 0 60px 60px 60px;
	word-wrap: break-word;
}

/* class round_button */
.round_button {
	text-align: center;
	text-decoration: none;	/* text decoration line */
	font-size: 25px;
	border-style: none;
	display: inline-block;
	width: 200px;
	height: 40px;
	line-height: 1.2;
	border-radius: 10px;
	margin: 10px;
}

.gray {
	background-color: #C0C0C0;
}

.white {
	background-color: #FFFFFF;
}
